@model CRUDUsingEFDBFirstApproach.Models.Trainer


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateMultiple</title>
    <script>
        $(function () {
            $('input[type="text"]').val('');
            $('input[type="number"]').val('');


        });
    </script>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Trainer</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save & Close" name="actionName" class="btn btn-primary" />
                        <input type="submit" value="Save & Continue" name="actionName" class="btn btn-info" />
                        @* @Html.ActionLink("Save & Continue",
        "CreateMultipleContinue",  null, new {@class = "btn btn-info"})*@
                        @Html.ActionLink("Close",
                       "Index", null, new { @class = "btn btn-warning" })



                    </div>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                  <span style="color:red;font-size:medium;">@ViewBag.Message</span>

                }
            </div>
        }

        @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
    </div>
</body>

</html>
@section links
{

 }

@section advertisements
 {

}